.navbar, .navbar-default {
    height: 60px;
    border-bottom: 1px solid palette('crimson');
    background-color: white;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 3px;
    width: 170px;
}
